{
  "Peers": ["tcp://{{ relay_peer_uri }}"],
  "InterfacePeers": {},
  "Listen": [
    "{{ ygg_listen_uri }}"
  ],
  "MulticastInterfaces": [],
  "AllowedPublicKeys": [
    "{{ relay_pubkey }}"
    {% for key in peer_pubkeys | default([]) %}
    ,"{{ key }}"
    {% endfor %}
  ],
  "IfName": "ygg0",
  "IfMTU": 65535,
  "NodeInfoPrivacy": true,
  "PrivateKeyPath": "{{ ygg_key_file }}",
  "NodeInfo": {
    "role": "jrun-host-bootstrap",
    "bridge_ip": "{{ jrun_bridge_ip }}"
  }
}
